body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: #9ca299;
}

div {
  box-sizing: border-box;
}

.brand {
  width: 50px;
  height: 55px;
  float: left;
  background-size: contain;
  background-image: url('./belo.png');
}

.demo {
  display: inline-block;
  max-width: 940px;
  min-width: 370px;
  margin: 60px 10px;
  margin-bottom: 40px;
}

.demo img {
  width: 100%;
  height: auto;
  display: block;
}

.demo-image-container {
  max-height: 480px;
  overflow: hidden;
  border: 1px solid #d6d9dc;
  border-radius: 2px;
  box-shadow: 0 4px 15px 0px #D6D9DC;
  margin-bottom: 15px;
}

nav {
  text-align: right;
}

.links {
  padding-top: 20px;
}

.color-hof {
  color: #565a5c;
}

.color-foggy {
  color: #9ca299;
}

.color-rausch {
  color: #ff5a5f;
}

.border-rausch {
  border-color: #ff5a5f;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.nav-container .container {
  height: 55px;
  margin: 0 auto;
}

.link {
  color: #ff5a5f;
  text-decoration: none;
  margin-right: 15px;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}

.page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.btn {
  padding: 10px 20px;
  font-weight: 900;
  border: 4px solid;
  text-decoration: none;
}

.hero,
.nav-container {
  background-color: #f8f9fb;
}

.hero {
  overflow: hidden;
}

.hero .github {
  margin-bottom: 20px;
}

.hero  h1 {
  width: 99.5%;
  margin-top: 0;
  font-size: 70px;
  margin-bottom: 23px;
}

.hero  h4 > a {
  color: inherit;
  border-bottom: 2px dotted #4aa7ff;
  text-decoration: none;
}

.hero .subtitle {
  text-align: center;
  margin-top: 0;
  font-weight: 100;
  font-size: 21px;
  margin-bottom: 15px;
  padding: 0 30px;

}

.features {
  padding: 40px 20px 20px;
  overflow: hidden;
}

.features > div {
  width: 33%;
  line-height: 1.3em;
  padding: 0 40px 20px;
  float: left;
  text-align: center;
}

.browser {
  border-radius: 2px 2px 0 0;
  background: #f5f6f8;
  height: 30px;
  text-align: left;
}

.dot {
  margin: 8px 0 0 4px;
  display: inline-block;
  background: green;
  height: 12px;
  width: 12px;
  border-radius: 20px;
}

.dot:first-child {
  margin: 8px 0 0 8px;
}

.dot-green {
  background-color: #85d350;
}

.dot-red {
  background-color: #d75342;
}

.dot-yellow {
  background-color: #f7bf3d;
}

.github {
  height: 30px;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 680px) {
  .features > div {
    width: 100%;
  }
}

.callouts {
  margin-top: 50px;
}

.footer {
  padding-top: 30px;
  border-top: 1px solid #f8f9fb;
  margin-top: 20px;
}

.flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-1 {
  -webkit-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-flex: 3;
  flex: 3;
}

.flex-initial {
  -webkit-flex: initial;
  flex: initial;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}


